<app-menu [selectedIndex]="2"></app-menu>
<app-title texte="Justificatifs"></app-title>

<div class="content">
    <span class="texte">Certifie avoir vérifié :</span>
    <mat-checkbox>Carte d'identité</mat-checkbox>
    <mat-checkbox>Attestation de domicile</mat-checkbox>
    <mat-checkbox>Passeport</mat-checkbox>
    <div class="autre">
        <mat-checkbox class="autre">Autre justificatif :</mat-checkbox>
        <mat-form-field>
            <input class="precision" matInput placeholder="Préciser autre justificatif">
        </mat-form-field>
    </div>
</div>

<app-navigation-buttons prev="informations" next="emplacement"></app-navigation-buttons>

