<mat-horizontal-stepper>
  <ng-template matStepperIcon="edit"> <!--permet de changer l'icon stylo en done-->
    <mat-icon>done</mat-icon>
  </ng-template>
  <mat-step label="Step 1" [routerLink]="['/marches-aux-puces']">
    <ng-template  matStepLabel>Marché aux puces</ng-template>
  </mat-step>
  <mat-step label="Step 2" [routerLink]="['/informations']">
    <ng-template matStepLabel>Informations</ng-template>
  </mat-step>
  <mat-step label="Step 3">
    <ng-template matStepLabel>Justificatifs</ng-template>
  </mat-step>
  <mat-step label="Step 4">
    <ng-template matStepLabel>Emplacement</ng-template>
  </mat-step>
  <mat-step label="Step 5">
    <ng-template matStepLabel>Paiement</ng-template>
  </mat-step>
  <mat-step label="Step 6">
    <ng-template matStepLabel>Validation</ng-template>
  </mat-step>
</mat-horizontal-stepper>
