:host {
  /*Boite*/
  height: 10%;
  width: 80%;
  background-color: white;
  margin: 2% 10%;
  /*Flex*/

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*Police*/
  color: gray;
}

.step {
  /*Boite*/
  height: 18px;
  width: 18px;
  background-color: grey;
  border-radius: 100%;
  margin: 5px;
  padding: 14px;
  display: inline-block;
  text-align: center;
  color: white;
}

.ligne {
  border: 1px solid grey;
  width: 1%;
}

.noSelect{
  background-color: grey;
}

.selected {
  background-color: #24A2B8;
}

.ligne {
  border: 1px solid grey;
  width: 5%;
}






