<mat-horizontal-stepper>
  <ng-template matStepperIcon="edit"> <!--permet de changer l'icon stylo en done-->
    <mat-icon>done</mat-icon>
  </ng-template>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Marché aux puces</ng-template>
  </mat-step>
  <mat-step label="Step 2">
    <ng-template matStepLabel>Informations</ng-template>
  </mat-step>
  <mat-step label="Step 3">
    <ng-template matStepLabel>Justificatifs</ng-template>
  </mat-step>
  <mat-step label="Step 4">
    <ng-template matStepLabel>Emplacement</ng-template>
  </mat-step>
  <mat-step label="Step 5">
    <ng-template matStepLabel>Paiement</ng-template>
  </mat-step>
  <mat-step label="Step 6">
    <ng-template matStepLabel>Validation</ng-template>
  </mat-step>
</mat-horizontal-stepper>

<button [routerLink]="['/marches-aux-puces']">Marché aux puces</button>
<button [routerLink]="['/informations']">Informations</button>
<button [routerLink]="['/justificatifs']">Justificatifs</button>
<button [routerLink]="['/emplacement']">Emplacement</button>
<button [routerLink]="['/paiement']">Paiement</button>
