div.emplacement{
  display: flex;
  flex-direction: column;
  margin: 2% 10%;
  width: 450px;
  height: 150px;
  border: 1px solid grey;
  box-shadow: 0 1px 1px rgb(158, 158, 158);
}

span.texte{
  font-weight: 400;
  margin: 10px 15px;
}

mat-form-field{
  width: 200px;
  margin-left: 15px;
}

button.verification{
  width: 150px;
  height: 40px;
  margin-left: 250px;
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
  background-color: #24A2B8;
  color: white;
}
