<app-menu></app-menu>
<app-title texte="Informations"></app-title>


<form class="coordonee">
  <div class="bloc1">
    <mat-form-field class="nom">
      <input matInput placeholder="Nom" required>
    </mat-form-field>
    <mat-form-field class="prenom">
      <input matInput placeholder="Prénom" required>
    </mat-form-field>
    <mat-form-field class="adresse">
      <textarea matInput placeholder="Adresse" requiered></textarea>
    </mat-form-field>
  </div>
  <div class="bloc2">
    <mat-form-field class="code">
      <input matInput placeholder="Code postal" required>
    </mat-form-field>
    <mat-form-field class="ville">
      <input matInput placeholder="Ville" required>
    </mat-form-field>
    <mat-form-field class="telephone">
      <input matInput placeholder="Téléphone">
    </mat-form-field>
    <mat-form-field class="mail">
      <input matInput placeholder="Mail">
    </mat-form-field>
  </div>
</form>

<div class="resident">
  Résident :
  <mat-radio-group>
    <mat-radio-button value="1">Oui</mat-radio-button>
    <mat-radio-button value="2">Non</mat-radio-button>
  </mat-radio-group>
</div>

<div class="cede">
  <span class="texte">Emplacement cédé par :</span>
  <form class="cede">
    <mat-form-field class="nom">
      <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field class="prenom">
      <input matInput placeholder="Prénom">
    </mat-form-field>
  </form>
</div>

<app-navigation-buttons></app-navigation-buttons>



