<app-menu></app-menu>
<app-title texte="Marché aux puces"></app-title>

<div class="section" [routerLink]="['/informations']">
  <mat-icon class="location">
    location_on
  </mat-icon>
  <div class="bloc">
    <div class="texte1">
      Lieu:
    </div>
    <div class="texte2">
      Secteur Thumesnil
    </div>
  </div>
  <mat-icon class="agenda">date_range</mat-icon>
  <div class="bloc">
    <div class="texte1">
      Date:
    </div>
    <div class="texte2">
      28 Avril 2019
    </div>
  </div>
  <mat-icon class="people">people</mat-icon>
  <div class="bloc">
    <div class="texte1">
      Emplacement disponibles:
    </div>
    <div class="texte2">
      24/90
    </div>
  </div>
</div>

<div class="section" [routerLink]="['/informations']">
  <mat-icon class="location">
    location_on
  </mat-icon>
  <div class="bloc">
    <div class="texte1">
      Lieu:
    </div>
    <div class="texte2">
      Secteur Faches
    </div>
  </div>
  <mat-icon class="agenda">date_range</mat-icon>
  <div class="bloc">
    <div class="texte1">
      Date:
    </div>
    <div class="texte2">
      29 Septembre 2019
    </div>
  </div>
  <mat-icon class="people">people</mat-icon>
  <div class="bloc">
    <div class="texte1">
      Emplacement disponibles:
    </div>
    <div class="texte2">
      54/78
    </div>
  </div>
</div>

