<app-menu [selectedIndex]="4"></app-menu>
<app-title texte="Paiement"></app-title>

<div class="content">

  <div class="modePaiement">
    <span class="modePaiement">Mode de paiement :</span>
    <mat-radio-group>
      <mat-radio-button value="1">Espèces</mat-radio-button>
      <mat-radio-button value="2">Chèque</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="sommeAPercevoir">
    <span class="sommeAPercevoir">Somme à percevoir :</span>
  <mat-form-field>
    <input matInput placeholder="Somme à percevoir" value="4">
    <span matSuffix>€</span>
  </mat-form-field>
  </div>

  <div class="sommePercue">
    <span class="sommePercue">Somme perçue :</span>
    <mat-form-field>
      <input matInput placeholder="Somme perçue" value="4">
      <span matSuffix>€</span>
    </mat-form-field>
  </div>

</div>

<button class="terminerInscription" [routerLink]="['/inscription-validee']">TERMINER L'INSCRIPTION</button>
