div.modePaiement {
    display: flex;
    flex-direction: row;
    margin: 4% 10%;

    span.modePaiement {
        font-weight: 500;
    }

    mat-radio-group {
        margin-left: 30px;

        mat-radio-button {
            margin-left: 20px;
        }
    }
}

div.sommeAPercevoir {
    display: flex;
    flex-direction: row;
    margin: 2% 10%;

    span.sommeAPercevoir {
        font-weight: 500;
    }

    div.montantAPayer {
        margin-left: 50px;
        width: 150px;
        height: 20px;
        width: 60px;
        text-align: center;
        font-weight: 500;
    }
}

div.numeroBordereau {
    display: flex;
    flex-direction: row;
    margin: 3% 10%;

    span.sommePercue {
        padding-top: 25px;
        font-weight: 500;
    }

    mat-form-field {
        margin-left: 50px;
        width: 200px;
    }
}

button.terminerInscription {
    border-radius: 0;
    background-color: #FDBC27;
    border: none;
    height: 40px;
    width: 300px;
    margin: 1% 35%;
}




