<mat-horizontal-stepper>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Marché aux puces</ng-template>
  </mat-step>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Informations</ng-template>
  </mat-step>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Justificatifs</ng-template>
  </mat-step>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Emplacement</ng-template>
  </mat-step>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Paiement</ng-template>
  </mat-step>
  <mat-step label="Step 1">
    <ng-template matStepLabel>Validation</ng-template>
  </mat-step>
</mat-horizontal-stepper>
