:host {
    //Boite//
    height: 45px;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    border-left: solid 4px #FDBC27;
    //Flex//
    display: flex;
    flex-direction: row;
}

.titre {
    font-size: 32px;
    margin-left: 1%;
}
