#blocprincipal {
    height: 500px;
    width: 70%;
    margin-left: 10%;
    //Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tablebloc {
    height: 100%;
    width: 30%;
    border-radius: 5px;
    background-color: #fdbc27;
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablebloc p {
    color: white;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    &.soustitre {
        font-weight: normal;
    }
}
