<app-title texte="Selectionnez votre table"></app-title>

<div id="blocprincipal">
    <button class="tablebloc" matRipple [matRippleColor]="" [routerLink]="['/marches-aux-puces']">
        <p class="soustitre">Table 1 :</p>
        <p>Inscription</p>
    </button>
    <button class="tablebloc" matRipple [matRippleColor]="" [routerLink]="['/acces-emplacement']">
        <p class="soustitre">Table 2 :</p>
        <p>Emplacement</p>
    </button>
    <button class="tablebloc" matRipple [matRippleColor]="" [routerLink]="['/acces-paiement']">
        <p class="soustitre">Table 3 :</p>
        <p>Paiement</p>
    </button>
</div>
