<div class="nav0">
    <span class="step"
          [ngClass]="{selected: selectedIndex === 0}"
          *ngIf="selectedIndex === 0">0</span>
    <span class="step selected"
          *ngIf="selectedIndex > 0"><mat-icon>check</mat-icon></span>
    Marché aux puces
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step"
          [ngClass]="{noSelected: selectedIndex < 1, selected: selectedIndex === 1}"
          *ngIf="selectedIndex <= 1">1</span>
    <span class="step selected"
          *ngIf="selectedIndex > 1"><mat-icon>check</mat-icon></span>
    Informations
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step"
          [ngClass]="{noSelected: selectedIndex < 2, selected: selectedIndex === 2}"
          *ngIf="selectedIndex <= 2">2</span>
    <span class="step selected"
          *ngIf="selectedIndex > 2"><mat-icon>check</mat-icon></span>
    Justificatifs
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step"
          [ngClass]="{noSelected: selectedIndex < 3, selected: selectedIndex === 3}"
          *ngIf="selectedIndex <= 3">3</span>
    <span class="step selected"
          *ngIf="selectedIndex > 3"><mat-icon>check</mat-icon></span>
    Emplacement
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step"
          [ngClass]="{noSelected: selectedIndex < 4, selected: selectedIndex === 4}"
          *ngIf="selectedIndex <= 4">4</span>
    <span class="step selected"
          *ngIf="selectedIndex > 4"><mat-icon>check</mat-icon></span>
    Paiement
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step"
          [ngClass]="{noSelect: selectedIndex < 5, selected: selectedIndex === 5}"
          *ngIf="selectedIndex <= 5">5</span>
    <span class="step selected"
          *ngIf="selectedIndex > 5"><mat-icon>check</mat-icon></span>
    Validation
</div>

